# this gitignore file was borrowed from https://github.com/expressjs/express/blob/master/.gitignore

# npm
node_modules
package-lock.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# Database
database/palanar.sqlite

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore