<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/home.css">


<nav class="navbar navbar-expand-lg navbar-light bg-light border border-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/adminHome">
      <img class="logo" src="/images/logo.png" alt=""> 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand" href="/studentHome">
          <img src="/images/listimg.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          List View
        </a>
        <a class="navbar-brand" href="/studentHome/boardView">
          <img src="/images/square.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Board View
        </a>

        <a class="navbar-brand" href="/newTask">
          <img src="/images/pencil-square.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Add Task
        </a>
       
        <a class="navbar-brand" href="/studentHome/viewCourses">
          <img src="/images/course.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          View Courses
        </a>
        
        <a class="navbar-brand" href="/adminHome/createCourse">
          <img src="/images/course.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Create Course
        </a>
        
        <a class="navbar-brand" href="/userSettings">
          <img src="/images/cog.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Settings
        </a>
        <a class="navbar-brand" href="/logout">
          <img src="/images/logout.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Logout
        </a>
      </div>
    </div>
  </div>
</nav>
