<% if(locals.passAlertResponse) { %>
    <% if(passAlertResponse === "success") { %>
        <div class="alert alert-success" role="alert">
            Password changed successfully!
        </div>
    <% } else if(passAlertResponse === "confirmationFailure") { %>
        <div class="alert alert-danger" role="alert">
            Please retype the new password correctly!
        </div>
    <% } else { %>
        <div class="alert alert-danger" role="alert">
            Some error happened!
        </div>
    <% } %>
<% }%>