/* borrowed from Nathan's navbar implementation */
.col.NavBar {
    height: 200px;
}

.icon {
    position: absolute;
    width: 40px;
    height: 40px;
    display:inline-block;
}

.logo{
    width: 257px;
    height: 103px;
    object-fit: cover;
}

